.account-page > div {
  max-width: 800px;
}

.account-page button {
  margin-bottom: 0;
}

.account-page button + span {
  margin: auto 0;
}

.account-page form > button {
  float: right;
}

.account-page .panel {
  position: relative;
  margin-top: 2.5rem;
  border: 2px solid var(--neutral-accent-color);
  padding: 2rem 2rem 3rem;
  border-radius: 4px;
  background-color: var(--true-white);
}

.account-page .panel.danger {
  border: 2px solid var(--error-color);
  cursor: help;
}

.account-page .panel h3 {
  position: absolute;
  width: max-content;
  font-size: 0.75em;
  background: linear-gradient(180deg, var(--background-color) 50%, var(--true-white) 50%);
  margin: 0;
  margin-left: -1rem;
  padding: 0 1rem;
  font-weight: 600;
  transform: translate(0, -200%);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.account-page .panel .input-container {
  margin-top: 1rem;
}

.account-page .panel .button-container {
  margin-top: 0;
}

.account-page .danger button {
  background: var(--error-color);
  border-color: var(--error-color);
  color: var(--true-white);
}

.account-page .verification-message {
  margin: 2rem 0 1rem;
}

.account-page .verification-message button {
  margin-right: 2rem;
}
