header {
  border-bottom: 2px solid var(--medium-dark-gray);
  margin: 0 0 4rem;
}

header .smaller {
  font-size: 0.9em;
}

header .smaller a {
  color: var(--dull-orange);
}

header .smaller a:hover {
  color: var(--dark-orgnge);
}

header nav ul {
  display: grid;
  grid-auto-flow: column;
  margin-bottom: 0;
  list-style-type: none;
}

header nav li {
  margin: 0 0.5rem 0 0;
  text-align: center;
  font-size: 1.1em;
}

header nav li:last-of-type {
  margin-right: 0;
}

header nav a {
  display: inline-block;
  padding: 1rem 0;
  color: var(--link-color);
  font-weight: 600;
  text-decoration: none;
}

header nav a.current {
  color: var(--current-link-color);
}
