/* Declare color variables */
:root {
  --black: #222;
  --dark-gray: #3e3e3e;
  --medium-gray: #777;
  --light-gray: #bbb;
  --white: #efefef;
  --true-white: #fff;
  --true-blue: #33c3f0;
  --dull-orange: #dd6e42;
  --bright-pink: #FC2E53;
  --bright-yellow: #ffc22e;
  --true-green: #6AF92D;

  --error-color: var(--bright-pink);
  --disabled-color: var(--medium-gray);
  --success-color: var(--true-blue);
  --warning-color: var(--bright-yellow);

  --text-color: var(--black);
  --dark-bg-text-color: var(--true-white);
  --light-bg-text-color: var(--dark-gray);
  --muted-bg-color: var(--medium-gray);
  --bolded-bg-color: var(--true-blue);
  --border-color: var(--dark-gray);

  --current-link-color: var(--dull-orange);
  --pagination-default-color: var(--light-gray);
  --pagination-disabled-color: var(--white);
  --pagination-active-color: var(--true-blue);
  --pagination-active-link-color: var(--true-white);
}

button {
  background-color: white;
}

h2 {
  margin-top: 1em;
}

a.current {
  color: var(--current-link-color);
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.block-warning {
  color: white;
  width: fit-content;
  padding: 1em;
  margin-bottom: 2em;
  background: repeating-linear-gradient(
    45deg,
    var(--bright-yellow),
    var(--bright-yellow) 10px,
    var(--bright-pink) 10px,
    var(--bright-pink) 20px
  );
  cursor: help;
}

.block-warning h2 {
  background-color: var(--true-white);
  color: var(--text-color);
  padding: 0 0.5em;
  margin-bottom: 0;
}
