/* Declare CSS variables */

:root {
  --black: #222;
  --dark-gray: #3e3e3e;
  --medium-dark-gray: #555;
  --medium-gray: #777;
  --light-gray: #bbb;
  --warm-gray: #E1E1E1;
  --white: #efefef;
  --true-white: #fff;
  --pale-cream: #fefefd;

  --dark-blue: #2c83ab;
  --true-blue: #33c3f0;
  --pale-blue: #c2edfa;
  --dull-orange: #dd6e42;
  --bright-pink: #fc2e53;
  --dark-pink: #d12d50;
  --bright-yellow: #ffc22e;
  --true-green: #00cf46;

  --disabled-color: var(--medium-gray);
  --notice-color: var(--true-blue);
  --success-color: var(--true-blue);
  --warning-color: var(--bright-yellow);
  --alert-color: var(--dull-orange);
  --error-color: var(--bright-pink);

  --text-color: var(--black);
  --dark-bg-text-color: var(--true-white);
  --light-bg-text-color: var(--dark-gray);
  --muted-bg-color: var(--medium-gray);
  --bolded-bg-color: var(--true-blue);
  --border-color: var(--dark-gray);

  --current-link-color: var(--dull-orange);
  --pagination-default-color: var(--light-gray);
  --pagination-disabled-color: var(--white);
  --pagination-active-color: var(--true-blue);
  --pagination-active-link-color: var(--true-white);
}

/* Theme customization styles */

body {
  background: var(--pale-cream);
}
h1 {
  margin: 2rem 0 1rem;
  color: var(--dark-gray);
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: var(--medium-dark-gray);
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 600;
}

h2:first-of-type {
  padding-top: 0;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

[disabled] {
  cursor: not-allowed !important;
}

a:hover {
  color: var(--dark-blue);
}

a.current {
  color: var(--current-link-color);
}

[disabled], [readonly] {
  color: var(--disabled-color);
}

button {
  background-color: white;
  padding: 0 2rem;
}

button.default:hover {
  background: linear-gradient(170deg, rgba(0,0,0,0), rgba(0,0,0,.05));
}

button[disabled] {
  background: var(--light-gray);
  border-color: var(--light-gray);
  color: var(--medium-gray);
  cursor: not-allowed;
}

button[disabled]:hover {
  border-color: var(--light-gray);
  background: var(--light-gray);
  color: var(--medium-gray);
}

.emphasize {
  padding: 0 2rem;
  color: var(--true-blue);
  border-color: var(--true-blue);
  background: var(--true-white);
}

.emphasize:hover, .emphasize:active {
  background: var(--true-blue);
  color: var(--true-white);
  border-color: var(--true-blue);
}

.emphasize:focus {
  border-color: var(--true-blue);
  box-shadow: 0 0 5px 0 var(--true-blue);
}

.warn {
  color: var(--bright-pink);
  border-color: var(--bright-pink);
  background: var(--true-white);
}

.warn:hover, .warn:active {
  color: var(--true-white);
  background: var(--bright-pink);
  border-color: var(--bright-pink);
}

.warn:focus {
  border-color: var(--bright-pink);
  box-shadow: 0 0 5px 0 var(--bright-pink);
}

.load-message {
  font-weight: 600;
  padding: 2rem 0;
  font-size: 1.75rem;
  color: var(--dark-gray);
}

.hidden {
  display: none !important;
}

.visible {
  display: block;
}

.container {
  max-width: 1200px;
  margin-bottom: 2em;
}

.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
}

.input-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  margin-top: 2.5rem;
}

th:last-child, td:last-child {
  padding-right: 15px;
}

/* The following are container-specific styles that weren't worth putting in their own file */

.block-warning {
  color: white;
  width: fit-content;
  padding: 1em;
  margin-bottom: 2em;
  background: repeating-linear-gradient(
    45deg,
    var(--bright-yellow),
    var(--bright-yellow) 10px,
    var(--bright-pink) 10px,
    var(--bright-pink) 20px
  );
  cursor: help;
}

.block-warning h2 {
  background-color: var(--true-white);
  color: var(--text-color);
  padding: 0 0.5em;
  margin: 0;
}

button.button-publish {
  display: block;
  height: auto;
  margin: 0 auto 2rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
}
