/* Declare color variables */
:root {
  --black: #222;
  --dark-gray: #3e3e3e;
  --medium-gray: #777;
  --light-gray: #bbb;
  --white: #efefef;
  --true-white: #fff;
  --true-blue: #33c3f0;
  --pale-blue: #c2edfa;
  --dull-orange: #dd6e42;
  --bright-pink: #fc2e53;
  --bright-yellow: #ffc22e;
  --true-green: #6af92d;

  --disabled-color: var(--medium-gray);
  --notice-color: var(--true-blue);
  --success-color: var(--true-blue);
  --warning-color: var(--bright-yellow);
  --alert-color: var(--dull-orange);
  --error-color: var(--bright-pink);

  --text-color: var(--black);
  --dark-bg-text-color: var(--true-white);
  --light-bg-text-color: var(--dark-gray);
  --muted-bg-color: var(--medium-gray);
  --bolded-bg-color: var(--true-blue);
  --border-color: var(--dark-gray);

  --current-link-color: var(--dull-orange);
  --pagination-default-color: var(--light-gray);
  --pagination-disabled-color: var(--white);
  --pagination-active-color: var(--true-blue);
  --pagination-active-link-color: var(--true-white);
}

button {
  background-color: white;
}

h1 {
  padding: 2rem 0 0;
  font-size: 3rem;
  color: var(--text-color);
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

h2 {
  font-size: 3rem;
  padding: 2rem 0 1rem;
}

h2:first-of-type {
  padding-top: 0;
}

a.current {
  color: var(--current-link-color);
}

/* Override to parent theme */
.container {
  max-width: 1200px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.block-warning {
  color: white;
  width: fit-content;
  padding: 1em;
  margin-bottom: 2em;
  background: repeating-linear-gradient(
    45deg,
    var(--bright-yellow),
    var(--bright-yellow) 10px,
    var(--bright-pink) 10px,
    var(--bright-pink) 20px
  );
  cursor: help;
}

.block-warning h2 {
  background-color: var(--true-white);
  color: var(--text-color);
  padding: 0 0.5em;
  margin: 0;
}

button.button-publish {
  display: block;
  height: auto;
  margin: 0 auto 2rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
}
