.login-page form {
  max-width: 600px;
  margin-top: 2.5rem;
}

.login-page button[type=button] {
  background: transparent;
  border: 0;
}

.login-page button span {
  border-bottom: 1px solid var(--light-gray);
  padding-bottom: 0.5rem;
  color: var(--medium-gray);
}

.login-page button:hover span {
  color: var(--dark-gray);
  border-color: var(--medium-gray);
}

.login-page .message {
  display: inline-block;
  font-weight: 700;
  padding: 1rem;
  margin: 1rem 0;
}

.login-page .success-message {
  color: var(--emphasis-color);
  border: 2px solid var(--emphasis-color);
}

.login-page .warning-message {
  color: var(--warning-color);
  border: 1px solid var(--warning-color);
}
