/* Box shadow styles taken from [Semantic UI](https://semantic-ui.com/collections/message.html) */

.messageContainer {
  position: sticky;
  top: 0;
  background: rgba(255,255,255,0.95);
  margin: 2.5rem 0;
  padding: 1rem;
  z-index: 10;
  box-shadow: 0 0 0 1px rgba(34,36,38,.22) inset,0 2px 4px 0 rgba(34,36,38,.12),0 2px 10px 0 rgba(34,36,38,.15);
  border-radius: var(--border-radius);
}

.messageContainer > div {
  max-height: 300px;
  overflow: auto;
}

.messageContainer header {
  background: var(--pale-blue);
  border: none;
  border-radius: var(--border-radius);
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem;
  color: var(--medium-dark-gray);
}

.messageContainer h3 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 900;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
}

.messageContainer .msg-title {
  padding-right: 1rem;
}

.messageContainer span {
  padding-right: 0.5rem;
}

.messageContainer strong {
  font-size: 1.1em;
  font-weight: 600;
}

.messageContainer ul {
  margin-bottom: 0;
}

.messageContainer li {
  list-style-type: none;
  border: none;
  padding: 1rem;
  border-radius: var(--border-radius);
  width: -moz-available;
  width: available;
}

.messageContainer li.success {
  border: 3px solid var(--emphasis-color);
}

.messageContainer li.success strong {
  color: var(--emphasis-color);
}

.messageContainer li.error {
  border: 3px solid var(--error-color);
}

.messageContainer li.error strong {
  color: var(--error-color);
}

.messageContainer li.warning {
  border: 2px solid var(--warning-color);
}

.messageContainer li.warning strong {
  color: var(--warning-color);
}

.messageContainer li.notice {
  border: 2px solid var(--strong-emphasis-color);
}

.messageContainer li.notice strong {
  color: var(--strong-emphasis-color);
}

.messageContainer li.info {
  border: 2px solid var(--neutral-accent-color);
  color: var(--medium-gray);
}

.messageContainer li.info span {
  color: var(--neutral-accent-color);
}

.messageContainer .dismiss {
  position: absolute;
  top: 0.75rem;
  right: 1.25rem;
  color: var(--medium-dark-gray);
  background: transparent;
  margin: 0;
  padding: 0;
  font-size: 2em;
  border: none;
  cursor: pointer;
}

.messageContainer .timestamp {
  float: right;
  color: var(--medium-gray);
  font-weight: 600;
  line-height: 30px;
}
