.schema-module {
  position: relative;
  border: 1px solid var(--neutral-accent-color);
  margin: 3rem 0;
  padding: 1rem 2rem;
  background: var(--true-white);
}

.schema-module h3 {
  width: max-content;
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(180deg, var(--background-color) 50%, var(--true-white) 50%);
  margin: 0;
  margin-left: -1rem;
  padding: 0 1rem;
  transform: translate(0,-90%);
}

.schema-module button {
  cursor: pointer;
}

.schema-module > div {
  overflow: auto;
}

.schema-module .visibility-toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: min-content;
  background: linear-gradient(180deg, var(--background-color) 50%, var(--true-white) 50%);
  border: 0;
  margin: 0;
  margin-right: 1rem;
  padding: 0 1rem;
  font-size: 1.25rem;
  transform: translate(0, -50%);
}

.schema-module .publish-buttons {
  margin-top: 1rem;
}

.schema-module .publish-buttons button {
  float: right;
  margin: 1rem;
}

.schema-module .selection-control {
  margin-right: 1rem;
}

.schema-module[data-visibility='hidden'] > div {
  display: none;
}

/* Overriding styles */

.schema-module .searchbar {
  position: absolute;
  top: 0;
  right: 0;
  margin: 2rem;
}

.schema-module .single-message {
 margin-bottom: 1rem;
}
