.schema-module {
  position: relative;
  border: 1px solid var(--light-gray);
  margin: 2rem 0;
  padding: 1rem 2rem;
}

.schema-module h3 {
  width: min-content;
  font-size: 2rem;
  font-weight: bold;
  background-color: white;
  margin: 0;
  margin-left: -1rem;
  padding: 0 1rem;
  transform: translate(0,-90%);
}

.schema-module button {
  cursor: pointer;
}

.schema-module div > button + button {
  margin-left: 1rem;
}

.schema-module .visibility-toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: min-content;
  border: 0;
  margin: 0;
  margin-right: 1rem;
  padding: 0 1rem;
  font-size: 1.25rem;
  transform: translate(0, -50%);
}

.schema-module button[disabled] {
  background-color: var(--light-gray);
  border-color: var(--light-gray);
  color: var(--true-white);
  cursor: not-allowed;
}

.schema-module button[disabled]:hover {
  border-color: var(--light-gray);
  background-color: var(--light-gray); /* override */
}

.schema-module[data-visibility='hidden'] > div {
  display: none;
}

