.schema-table {
  width: 100%;
  margin-bottom: 3rem;
}

.schema-table td {
  min-width: min-content;
}

.schema-table select {
  max-width: 20rem;
}

.schema-table td:first-child {
  padding-left: 0; /* Overwrites skeleton.css */
}

.schema-table button:first-of-type {
  margin-right: 1rem;
}
