.schema-row span {
  padding: 1rem;
  border-radius: 4px;
}

.schema-row span.muted {
  color: var(--dark-bg-text-color);
  background-color: var(--muted-bg-color);
}

.schema-row span.bolded {
  color: var(--dark-bg-text-color);
  background-color: var(--bolded-bg-color);
}
