.schema-record > div {
  margin-bottom: 1rem;
}

.schema-record > label > div {
  margin-bottom: 1.5rem;
}

.schema-record > div:last-child {
  margin: 2em 0;
}

.schema-record input:not([type='checkbox']),
.schema-record textarea, .schema-record select {
  display: block;
  width: 80%;
  max-width: 750px;
}

.schema-record button + button {
  margin-left: 1rem;
}

.schema-record input:invalid {
  box-shadow: 0 0 5px 1px var(--error-color);
}

.schema-record input[type=checkbox] {
  margin-right: 1rem;
}

.schema-record ul li {
  list-style-type: none;
  width: max-content;
}

.schema-record li label {
  display: inline;
  margin: 0.5rem 3rem 0.5rem 0;
}

.schema-record label.required:before {
  content: '*';
  color: var(--error-color);
  margin-right: .5rem;
}

.schema-record label.required-ish:before {
  content: '*';
  color: var(--warning-color);
  margin-right: .5rem;
}

.schema-record p.label {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.schema-record .toggle + .toggle-switch {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2rem;
}

.schema-record .block-warning {
  margin-bottom: 2rem;
}

.schema-record .block-warning button {
  margin-bottom: 0;
}

