.status-label {
  padding: 1rem 1.5rem;
  border-radius: 20px;
  display: inline-block;
  color: var(--true-white);
  cursor: help;
}

.status-label.alert {
  color: var(--dark-gray);
  background-color: var(--alert-color);
}

.status-label.warning {
  background-color: var(--warning-color);
}

.status-label.bolded {
  background-color: var(--emphasis-color);
}

.status-label.muted {
  background-color: var(--medium-gray);
}
