.status-label {
  padding: 1rem;
  border-radius: 20px;
  display: inline-block;
  color: var(--dark-bg-text-color);
  cursor: help;
}

.status-label.warning {
  color: var(--light-bg-text-color);
  background-color: var(--bright-yellow);
}

.status-label.alert {
  background-color: var(--dull-orange);
}

.status-label.bolded {
  background-color: var(--bolded-bg-color);
}

.status-label.muted {
  background-color: var(--medium-gray);
}
